AYA-CMS2.0/Mule-Intergation/AYA-HUB-E7/target/classes/Utils/BillPayment/CMS_getBillAmount.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
	<flow name="hub_getBillAmountFlow">
		<http:listener config-ref="CMS_LISTENER" path="/getBillAmount"
			allowedMethods="POST" doc:name="/getBillAmount" />
		<logger level="INFO" doc:name="STARTED GET AMOUNT"
			message="#[&quot;\n==============================================================================\nSTARTED GET AMOUNT\nRequest Message: &quot; + message.payloadAs(java.lang.String)+ &quot;\n==============================================================================&quot;]" />
		<set-variable variableName="reqJSMsg" value="#[payload]"
			doc:name="reqJSMsg" />
        <scripting:transformer doc:name="Store REFVA1, REFVA2, REFVA3">
            <scripting:script engine="JavaScript"><![CDATA[var resMsg = JSON.parse(flowVars.get('reqJSMsg'));
var refva1, refva2, refva3;
try{
refva1 = JSON.stringify(resMsg.REFVA1);
refva2 = JSON.stringify(resMsg.REFVA2);
refva3 = JSON.stringify(resMsg.REFVA3);
}
catch(e){
refva1 = "";
refva2 = "";
refva3 = "";
}
flowVars.put('REFVA1',refva1.substring(1, refva1.length-1));
flowVars.put('REFVA2',refva2.substring(1, refva2.length-1));
flowVars.put('REFVA3',refva3.substring(1, refva3.length-1));

message.setPayload(JSON.stringify(resMsg));
result = message;]]></scripting:script>
        </scripting:transformer>
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
		<set-variable variableName="reqMsg" value="#[payload]"
			doc:name="reqMsg" />
        <set-variable variableName="isGetAmount" value="#[flowVars.reqMsg.REFVA1!=null &amp;&amp; flowVars.reqMsg.REFVA1!=&quot;&quot; &amp;&amp; flowVars.reqMsg.REFVA2!=null &amp;&amp; flowVars.reqMsg.REFVA2!=&quot;&quot; &amp;&amp; flowVars.reqMsg.REFVA3!=null &amp;&amp; flowVars.reqMsg.REFVA3!=&quot;&quot; ]" doc:name="isGetAmount" doc:description="Check ref1, ref2, ref3 is null or not."/>
        <choice doc:name="Check REF1,2,3 is null">
            <when expression="#[flowVars.isGetAmount]">
               <choice doc:name="Have WS or NOT">
			<when expression="#[flowVars.reqMsg.WEBSERNAME==&quot;YCDC&quot;]">
				<set-payload
					value="{   &quot;BILLINGMERCHANTCODE&quot;: &quot;#[flowVars.reqMsg.WEBSERNAME]&quot;,   &quot;BILLID&quot;: &quot;#[flowVars.REFVA1]&quot; }"
					mimeType="application/json" doc:name="Build Message Get Amount" />
                        <logger message="#[&quot;\nCall Get Bill  To YCDC WEBSERVICE:\n&quot; + message.payloadAs(java.lang.String)]" level="INFO" doc:name="Call Get Bill To YCDC WEBSERVICE"/>
                        <flow-ref name="YCDC_getBillByIDSub_Flow" doc:name="YCDC_getBillByIDSub_Flow"/>

			</when>
			<when
				expression="#[flowVars.reqMsg.WEBSERNAME!=null &amp;&amp; flowVars.reqMsg.WEBSERNAME.matches(&quot;${SERVICE_EM}&quot;)]">
                        <set-payload value="{     &quot;SERVICEID&quot;: &quot;#[flowVars.reqMsg.WEBSERNAME+&quot;-EM&quot;]&quot;,     &quot;REFVA1&quot;: &quot;#[flowVars.REFVA1]&quot;,    &quot;REFVA2&quot;:&quot;#[flowVars.REFVA2]&quot;,  &quot;REFVA3&quot;:&quot;#[flowVars.REFVA3]&quot;  }" mimeType="application/json" doc:name="Build Message Get Amount"/>
                        <logger message="#[&quot;\nCall Get Bill To Biller HUB WEBSERVICE:\n&quot; + message.payloadAs(java.lang.String)]" level="INFO" doc:name="Call To Biller HUB WEBSERVICE"/>
                        <flow-ref name="BillerHUB_getBillInfoSub_Flow" doc:name="BillerHUB_getBillInfoSub_Flow"/>

			</when>
			<otherwise>
				<set-payload
					value="{   &quot;info&quot;: {     &quot;lang&quot;: &quot;en&quot;,     &quot;uid&quot;: &quot;264a3971-9e86-4ae3-8ade-fea5a363f486&quot;,     &quot;my_device&quot;: {       &quot;browser&quot;: &quot;Chrome&quot;,       &quot;browserVersion&quot;: &quot;79.0.3945.88&quot;,       &quot;browserMajorVersion&quot;: 79,       &quot;cookies&quot;: true     },     &quot;request_time&quot;: 1580804624914,     &quot;protect_request&quot;: &quot;&quot;,     &quot;key_feedback&quot;: &quot;258cf4c8b9b184d3-45&quot;   },   &quot;bo&quot;: [     {       &quot;txcode&quot;: &quot;bo-hub-dymanicSearch&quot;,       &quot;input&quot;: {         &quot;learn_sql&quot;: &quot;d_corpserviceGetFixedAmount&quot;,         &quot;data&quot;: {           &quot;SERCODE&quot;: &quot;#[flowVars.reqMsg.SERCODE]&quot;,           &quot;CORPCODE&quot;: &quot;#[flowVars.reqMsg.CORPCODE]&quot;,           &quot;CUSTACC&quot;: &quot;-&quot;,           &quot;REFVA1&quot;: &quot;#[flowVars.REFVA1]&quot;,           &quot;REFVA2&quot;: &quot;#[flowVars.REFVA2]&quot;,           &quot;REFVA3&quot;: &quot;#[flowVars.REFVA3]&quot;         }       }     }   ] }"
					mimeType="application/json" doc:name="Not have WS, Build message Call to Get Amount" />
				<logger message="#[&quot;\nGet Amount BO Request:\n&quot; + message.payloadAs(java.lang.String)]"
					level="INFO" doc:name="Get Amount BO Request" />
				<http:request config-ref="HUB2.0_BO" path="/" method="POST"
					doc:name="HUB2.0_BO" />
                <logger message="#[&quot;\nGet Amount BO Response:\n&quot; + message.payloadAs(java.lang.String)]" level="INFO" doc:name="Get Amount BO Response"/>
				<json:json-to-object-transformer
					returnClass="java.lang.Object" doc:name="JSON to Object" />
				<choice doc:name="Get Amoun BO T?F">
					<when expression="#[payload.fo[0].input.response.errorcode==0]">
						<set-payload
							value="{   &quot;ERRORCODE&quot;: 0,   &quot;ERRORDESC&quot;: &quot;Transaction successfully!&quot;,   &quot;RESULT&quot;: {     &quot;AMOUNT&quot;: &quot;#[payload.fo[0].input.response.data.d_corpservice[0].d_corpservice.AMOUNT]&quot;,     &quot;EDITABLE&quot;:&quot;#[payload.fo[0].input.response.data.d_corpservice[0].d_corpservice.EDITTABLE]&quot;,     &quot;CCRCD&quot;:&quot;#[payload.fo[0].input.response.data.d_corpservice[0].d_corpservice.CCRCD]&quot;   } }"
							doc:name="build message success" mimeType="application/json" />
					</when>
					<otherwise>
						<set-payload
							value="{
  &quot;ERRORCODE&quot;: #[payload.fo[0].input.response.errorcode],
  &quot;ERRORDESC&quot;: &quot; #[payload.fo[0].input.response.errordesc]&quot;,
  &quot;RESULT&quot;:&quot;&quot;
}"
							doc:name="build message error" mimeType="application/json" />
					</otherwise>
				</choice>

			</otherwise>
		</choice>
            </when>
            <otherwise>
                <set-payload value="{
  &quot;ERRORCODE&quot;: 0,
  &quot;ERRORDESC&quot;: &quot;Transaction successfully!&quot;,
  &quot;RESULT&quot;: {
    &quot;AMOUNT&quot;: &quot;0&quot;,
    &quot;EDITABLE&quot;: &quot;N&quot;,
    &quot;CCRCD&quot;: &quot;MMK&quot;
  }
}" mimeType="application/json" doc:name="Return full Msg Request for Mis Thuong"/>
                <logger level="INFO" doc:name="is Not get Amount" message=" #[&quot;\nRef1,2,3 null\nReturn:\n&quot; + message.payloadAs(java.lang.String)]"/>
            </otherwise>
        </choice>
		
        <logger message=" #[&quot;\nReturn:\n&quot; + message.payloadAs(java.lang.String)]" level="INFO" doc:name="Get Bill Return"/>
		<scripting:transformer mimeType="application/json"
			doc:name="Build Message Response">
			<scripting:script engine="JavaScript"><![CDATA[var data = {};
var resMsg = {};
try {
    data = JSON.parse(payload);
    resMsg = JSON.parse(flowVars.get('reqJSMsg'));
    log.info('\n' + resMsg.WEBSERNAME);
    resMsg.ERRORCODE = data.ERRORCODE;
    resMsg.ERRORDESC = data.ERRORDESC;

    if (data.ERRORCODE == 0) {
        resMsg.AMOUNT = data.RESULT.AMOUNT;
        resMsg.EDITABLE = data.RESULT.EDITABLE;
        resMsg.CCYID = data.RESULT.CCRCD;
    }
  	else {
    	resMsg.AMOUNT = 0;
        resMsg.EDITABLE = "Y";
        resMsg.CCYID = "";
    }
} catch (err) {
    log.info(err);
    resMsg.ERRORCODE = 1;
    resMsg.ERRORDESC = "Cannot get amount";
}
message.setPayload(JSON.stringify(resMsg));
result = message;]]></scripting:script>
		</scripting:transformer>
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
        <logger message="#[&quot;\n==============================================================================\nENDED GET AMOUNT\nResponse Message: &quot; + message.payloadAs(java.lang.String)+ &quot;\n==============================================================================&quot;]" level="INFO" doc:name="ENDED GET AMOUNT"/>
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<set-payload
				value="{  &quot;ERRORCODE&quot;: 4,  &quot;ERRORDESC&quot;: &quot;SYS_ERROR&quot;,  &quot;RESULT&quot;: &quot;&quot; }"
				mimeType="application/json" doc:name="Build message error" />
			<logger
				message="#[&quot;\nError Response Message: &quot; + message.payloadAs(java.lang.String)]"
				level="INFO" doc:name="Error Response Message" />
			<logger
				message="#[&quot;\n=======================================\nEnded Hub Process Collection\n=======================================&quot;]"
				level="INFO" doc:name="Ended Hub Process Collection" />
		</catch-exception-strategy>

	</flow>
</mule>
