AYA-CMS2.0/Mule-Intergation/AYA-HUB-E7/src/main/app/Schedulers/CMS_autoLogin.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.9.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd"><flow name="AutoLogintoCBS" processingStrategy="synchronous">
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${REPEAT_TIME}" />
			<invoke object-ref="AutoLogin" method="letLogin" doc:name="LoginToCBS"
				name="LoginToCBS" />
		</poll>
		<json:object-to-json-transformer
			doc:name="Object to JSON" />
		<flow-ref name="hub_loginFBESub_Flow" doc:name="hub_loginFBESub_Flow" />
		<set-variable variableName="resMsg" value="#[json:]"
			mimeType="application/json" doc:name="resMsg" />
		<logger level="INFO" doc:name="Login Response"
			message="#[&quot;\n==============================================================================\nLOGIN RESPONSE:\n&quot; + message.payloadAs(java.lang.String)+ &quot;\n==============================================================================&quot;]" />
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
		<choice doc:name="Check ERRORCODE">
			<when expression="#[payload.ERRORCODE==0]">
				<invoke name="SaveSQLLiteDB" object-ref="AutoLogin" method="saveSession"
					methodArguments="#[flowVars.resMsg]" doc:name="SaveSQLLiteDB" />
			</when>
			<otherwise>
				<logger message="No log" doc:name="Loggin fail, No log" />
			</otherwise>

		</choice>
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<set-payload
				value="{  &quot;ERRORCODE&quot;: 4,  &quot;ERRORDESC&quot;: &quot;#[exception.message.replace('&quot;',&quot;&quot;)]&quot;,  &quot;RESULT&quot;: &quot;&quot; }"
				doc:name="Message Exception Error " mimeType="application/json" />
			<logger
				message="#[&quot;\n----EXCEPTION &quot;+message.payloadAs(java.lang.String)]"
				level="INFO" doc:name="---EXCEPTION---" />
		</catch-exception-strategy>
	</flow>
</mule>
