AYA-CMS2.0/Mule-Intergation/AYA-HUB-E7/src/main/app/Apis/Channel/Channel_getPostingList.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<flow name="hub_getPostingList">
		<http:listener config-ref="CMS_LISTENER" path="/getPostingList"
			allowedMethods="POST" doc:name="/getPostingList" />
		<logger
			message="#[&quot;\n=======================================\nStarted Hub Get Posting List\nRequest Message:\n&quot; + message.payloadAs(java.lang.String) +&quot;\n=======================================&quot;]"
			level="INFO" doc:name="Started Hub Get Posting List" />
		<json:json-to-object-transformer
			returnClass="java.lang.Object" doc:name="JSON to Object" />
		<set-variable variableName="reqBody" value="#[payload]"
			doc:name="reqBody" />


		<set-payload
			value="{
  &quot;info&quot;: {
    &quot;lang&quot;: &quot;en&quot;,
    &quot;uid&quot;: &quot;264a3971-9e86-4ae3-8ade-fea5a363f486&quot;,
    &quot;my_device&quot;: {
      &quot;browser&quot;: &quot;Chrome&quot;,
      &quot;browserVersion&quot;: &quot;79.0.3945.88&quot;,
      &quot;browserMajorVersion&quot;: 79,
      &quot;cookies&quot;: true
    },
    &quot;request_time&quot;: 1580804624914,
    &quot;protect_request&quot;: &quot;&quot;,
    &quot;key_feedback&quot;: &quot;258cf4c8b9b184d3-45&quot;
  },
  &quot;bo&quot;: [
    {
      &quot;txcode&quot;: &quot;bo-hub-getPostingInfo&quot;,
      &quot;input&quot;: {
        &quot;learn_sql&quot;: &quot;d_hubstmGetTransactionPostingInfo&quot;,
        &quot;learn_sql_sub&quot;: &quot;d_hubstmServiceInfoPosting&quot;,
        &quot;data&quot;: {
          &quot;SERCODE&quot;: &quot;#[flowVars.reqBody.SERCODE]&quot;,
          &quot;CORPCODE&quot;: &quot;#[flowVars.reqBody.CORPCODE]&quot;,
          &quot;CUSTACC&quot;: &quot;#[flowVars.reqBody.CUSTACC]&quot;,
          &quot;AMT&quot;: &quot;#[flowVars.reqBody.AMT]&quot;,
          &quot;REF1&quot;: &quot;#[flowVars.reqBody.REF1]&quot;,
          &quot;REF2&quot;: &quot;#[flowVars.reqBody.REF2]&quot;,
          &quot;REF3&quot;: &quot;#[flowVars.reqBody.REF3]&quot;,
          &quot;CCRCD&quot;: &quot;#[flowVars.reqBody.CCRCD]&quot;
        }
      }
    }
  ]
}"
			mimeType="application/json" doc:name="Build message get posting list" />
		<logger
			message="#[&quot;\nGet Posting List Request:\n&quot; +message.payloadAs(java.lang.String)]"
			level="INFO" doc:name="Get Posting List Request" />
		<http:request config-ref="HUB2.0_BO" path="/" method="POST"
			doc:name="Process Collection BO Endpoint" />
		<logger
			message="#[&quot;\nGet Posting List Repsonse:\n&quot;+message.payloadAs(java.lang.String)]"
			level="INFO" doc:name="Get Posting List Repsonse" />
		<set-variable variableName="errorcode"
			value="#[json:fo[0]/input/response/errorcode]" mimeType="application/json"
			doc:name="errorcode" />
		<choice doc:name="check status errorcode">
			<when expression="#[flowVars.errorcode==0]">
				<set-payload
					value="{
	&quot;ERRORCODE&quot;: 0,
	&quot;ERRORDESC&quot;: &quot;Transaction successfully!&quot;,
	&quot;RESULT&quot;:  #[json:fo[0]/input/response/data]
}"
					mimeType="application/json" doc:name="build message success" />
			</when>
			<otherwise>
				<scripting:transformer doc:name="JavaScript">
					<scripting:script engine="JavaScript"><![CDATA[var payloadMsg = JSON.parse(payload);
var data= {};
try{
data.ERRORCODE = 1;
data.ERRORDESC = payloadMsg.fo[0].input.response.errordesc;
}
catch(err){
data.ERRORCODE = 1;
data.ERRORDESC = "Cannot get posting list!";
}
message.setPayload(JSON.stringify(data));
result = message;]]></scripting:script>
				</scripting:transformer>
				<json:object-to-json-transformer
					doc:name="Object to JSON" />
			</otherwise>
		</choice>
		<logger
			message="#[&quot;\n=======================================\nEnded Hub Get Posting List\nResponse Message:\n&quot;+ message.payloadAs(java.lang.String) +&quot;\n=======================================&quot;]"
			level="INFO" doc:name="Ended Hub Get Posting List" />


		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<set-payload
				value="{  &quot;ERRORCODE&quot;: 4,  &quot;ERRORDESC&quot;: &quot;SYS_ERROR&quot;,  &quot;RESULT&quot;: &quot;&quot; }"
				mimeType="application/json" doc:name="Build message error" />
			<logger
				message="#[&quot;\n=======================================\nEnded Hub Get Posting List\nResponse Message:\n&quot;+ message.payloadAs(java.lang.String) +&quot;\n=======================================&quot;]"
				level="INFO" doc:name="Ended Hub Get Posting List" />
		</catch-exception-strategy>
	</flow>
</mule>
